/* HackMD-like CSS Style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Fira+Code:wght@400;700&display=swap');

:root{
  /* Colors */
  --ligther-gray: #f4f4f5;
  --light-gray: #71717a4d;
  --dark-gray: #71717a;
  --darker-gray: #2b2b2b;
  --light-blue: #1a73e8;
  --light-background: #fff;
  --dark-background: #f8f9fa;
  --light-red: #f2dede;
  --dark-red: #a94442;
  /* --- Body or Document --- */
  --document-font-size: 100%; /* by browser default 100% = 16px */
  --document-font-color: var(--darker-gray);
  --document-text-align: justify;
  --document-line-height: 1.7;
  --document-background-color: var(--dark-background);
  --document-lists-line-height: 1.8;
  /* --- Footer --- */
  --footer-font-size: 0.8rem; /* 1rem = 16px, 0.8 * 16 = 12.8px */
  --footer-font-color: var(--dark-gray);
  /* --- Layout --- */
  --layout-max-width: 100%;
  /* --- TOC --- */
  --toc-font-size: 0.687rem; /* ~11px */
  --toc-font-color: var(--dark-gray);
  /* --- Brand, markdown, code, tags and containers --- */
  --brand-font-size: 1rem; 
  --markdown-background-color: var(--light-background);
  --code-font-size: 0.805rem;
  --tags-font-size: 0.6rem;
  --container-font-size: 100%;
}

html, body{height: 100vh;max-width: 100vw;}
body{
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: var(--document-font-size);
  color: var(--document-font-color);
  text-align: var(--document-text-align);
  line-height: var(--document-line-height);
  background-color: var(--document-background-color);
  margin: 0;
  padding: 0;
}

footer{
  display: flex;
  font-size: var(--footer-font-size);
  color: var(--footer-font-color);
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
  /* border: 1px solid red; */
}

footer a{
  text-decoration: none;
  color: var(--footer-font-color);
}

footer img{
  width: var(--footer-font-size);
  height: var(--footer-font-size);
  filter: grayscale(1);
}

.landing{
  display: flex;
  flex-direction: column;
  gap: 8px; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: var(--large-font-size);
  color: var(--darker-gray);
  font-weight: bold;
  box-sizing: border-box;
  color: var(--dark-gray);
}

.landing a{
  text-decoration: none;
  color: inherit;
}

.landing > div:last-child{
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: normal;
  font-size: var(--footer-font-size);
  color: inherit;
}

.error{
  display:block;
  background-color: var(--light-red);
  padding:10px;
  border-radius:5px;
  color:var(--dark-red);
}

.layout{
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr) 200px;
  padding: 18px 0px; /* top/bottom right/left */
  margin: 0 auto;
  max-width: 1200px;
  /* border: 1px solid red; */
}
/* -------------------------------------- */
.brand{
  display: flex;
  gap: 4px;
  padding: 4px 0px;
  margin-bottom: 8px;
  align-items: center;
  font-weight: bold;
  font-size: var(--brand-font-size);
  border-bottom: 1px solid var(--light-gray);
}

.brand img{
  width: 2.2rem;
  height: auto;
}
/* -------------------------------------- */
.toc{
  grid-column: 1;
  padding: 0px 8px;
  font-size: var(--toc-font-size);
  margin-left: 10px;
  position: sticky;
  top: 20px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  /* border: 1px solid yellow; */
}

.toc a{
  text-decoration: none;
  color: var(--toc-font-color);
  /* Add (...) to larger section names */
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc a:hover{
  font-weight: bold;
}

.toc ol,
.toc ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc ul ul{
  padding-left: 10px; /* Add left padding for nested uls */
}
/* -------------------------------------- */
.markdown{
  grid-column: 2;
  background-color: var(--markdown-background-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 1px 20px;
  /* border: 1px solid red; */
}

.markdown a{
  text-decoration: none;
  color: var(--light-blue);
}
.markdown a:hover{text-decoration: underline;}
/* Links inside headings should inherit the heading style and not use the default link color */
.markdown h1 a,
.markdown h2 a,
.markdown h3 a,
.markdown h4 a,
.markdown h5 a,
.markdown h6 a { color: inherit; border: 0;}
.markdown h1 a:hover,
.markdown h2 a:hover,
.markdown h3 a:hover,
.markdown h4 a:hover,
.markdown h5 a:hover,
.markdown h6 a:hover {text-decoration: none;}

.markdown pre,
.markdown pre code,
.markdown img{
  max-width: 100%;
}

.markdown h1,
.markdown h2, 
.markdown h3, 
.markdown h4 {
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 0.3em;
  text-align: left;
}
.markdown h1 { font-size: 1.5em; }
.markdown h2 { font-size: 1.25em; }
.markdown h3 { font-size: 1.1em; }

.markdown ul,
.markdown ol {
  padding-left: 2em;
  line-height: var(--document-lists-line-height);
}

.markdown table {
  border-spacing: 0px;
  border-collapse: separate;
  padding: 8px 0px;
}
.markdown table th, 
.markdown table td{
  padding: 6px 13px;
  border: 1px solid var(--ligther-gray);
}
.markdown table th{ 
  text-align: center;
  background: var(--light-gray);
}

.markdown pre{
  font-size: var(--code-font-size);
  padding: 4px; 
  /* break words to the next line */
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid var(--light-gray);
  border-radius: 2px;
  
}
.markdown :not(pre) > code{
  font-family: 'Fira Code', Consolas, Monaco, 'Courier New', monospace;
  background-color: var(--ligther-gray);
  padding: 2px 4px;
  border-radius: 2px;
  font-size: var(--code-font-size);
}

.markdown em{font-style: italic;}

.markdown blockquote{
  padding: 0px 4px;
  border-left: 2.5px solid var(--light-gray);
  margin: 0;
  color: var(--dark-gray);
}
.markdown blockquote > ol,
.markdown blockquote > ul{
  padding-left: 2em;
  line-height: calc(var(--document-lists-line-height) - 0.3);
  margin: 0;
}

.markdown mark{
  background: #fef7dd;
  color: #f6a323;
  padding: 2px;
  border-radius: 2px;
}
/* -------------------------------------- */
.gutter{
  grid-column: 3;
  /* border: 1px solid blue; */
}
/* -------------------------------------- */
.container{
  border-radius: 6px;
  padding: 2px 15px; /* top/bottom left/right */
  margin: 12px 0;
}

.container.success{
  background-color: #d9f9e5;
  border-left: 4px solid #43946c;
  color: #43946c;
}

.container.info{
  background-color: #d9edf7;
  border-left: 4px solid rgb(2 132 199);
  color: #0284c7
}

.container.warning{
  background-color: #fef3c799;
  color: #f59e0b;
  border-left-color: #f59e0b;
}

.container.danger{
  background-color: #fee2e299;
  color: #ef4444;
  border-left-color: #ef4444;
}
/* -------------------------------------- */
.datetime{
  display: flex;
  justify-content: right;
  align-items: baseline;
  gap: 2px;
  color: var(--footer-font-color);
  font-size: var(--footer-font-size);
}
/* -------------------------------------- */
.tags{
  display: flex;
  justify-content: right;
	gap: 8px;
	width: 100%;
  flex-wrap: wrap;
  padding-top: 8px;
}
.tags div{
  border-radius: 2px;
  padding: 4px 6px;
  background-color: #c4c4c432;
  font-size: var(--tags-font-size);
  color: var(--dark-gray);
  font-weight: bold;
  border-radius: 8px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .08);
}

/* Mobile view */
@media (max-width: 1024px) {
  /* Prevent mobile browsers from automatically zooming in on small text (e.g., input fields, small fonts) */ 
  html {
    -webkit-text-size-adjust: 100%; /* iOS Safari, Chrome/WebView (WebKit) */
    text-size-adjust: 100%;  /* Standard / Firefox Android, etc. */
  }
  body{
    background-color: #fff;
  }
  .layout{
    background-color: #fff;
    grid-template-columns: 1fr;
    padding: 0px 20px; 
    margin: 0;
  }
  .markdown{
    grid-column: 1;
    box-shadow: none;
    padding: 0;
    border: 0;
  }
  /* footer{padding-bottom: 4px; background-color: var(--dark-background);} */
  .markdown img{ max-width: 80%;}
  .toc, .gutter, .tags{display: none;}
}

/* Print view */
@media print{
  body{
    background-color: #fff;
  }
  .layout{
    background-color: #fff;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }
  .markdown{
    grid-column: 1;
    width: 100vw;
    box-shadow: none;
    padding: 0;
    border: 0;
  }
  footer{
    padding-bottom: 4px; 
  }
  .markdown img{ max-width: 80%;}
  .toc, .gutter, .tags{display: none;}
}

/* Tablets / small desktops: two grid columns only 
@media (min-width: 769px) and (max-width: 1200px) { }
*/

/* Desktop: all visible
@media (min-width: 1201px) { }
 */